<launch>

	<arg name="model" default="$(find dif_drv_robot)/urdf/robot.urdf.xacro"/>
	<arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

	<rosparam file="$(find dif_drv_robot)/config/diff_drv_config.yaml" command="load"/>

	<node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    	<param name="publish_frequency" type="double" value="30.0" />
    	<remap from="joint_states" to="joint_states" />
  	</node>

  	
  	<!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />-->
  	

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

	<node name="dif_drv_robot_node" pkg="dif_drv_robot" type="dif_drv_robot_node"
output="screen" />

	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
		args="
			joint_state_controller
			sample_robot_diff_drv
		"/>
<!-- ********************** CONTROL DU ROBOT *****************-->
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/sample_robot_diff_drv/cmd_vel"/>
  </node>

</launch>